.category {
  margin: 0 0 5% 0;
}
.category_title {
  font-size: 25px;
  font-weight: bold;
}
.element_group {
  padding: 2% 3% 0 3%;
}
.element_name {
  font-size: 15px;
  font-weight: bold;
}

.explain {
  font-size: 13px;
  font-weight: bold;
}

.img {
  width: 100%;
  border-radius: 8%;
}

.movie {
  display: grid;
  grid-template-columns: 30% 60%;
}
.movie_content {
  margin: 3% 5% 5% 10%;
  width: 100%;
}

.movie_ex {
  width: 100%;
}

/* @media (min-width: 360) and (max-width: 900) {
  .category_title {
    font-size: 18;
  }
  .element_name {
    font-size: 7px;
  }
} */
