* {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 40% 1fr;
  height: 20vh;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.header_text {
  font-family: "Dongle", sans-serif;
  font-size: 30px;
}
.profile {
  width: 40%;
  height: auto;
  border-radius: 50px;
}
.div_profile {
  margin: 0 0 0 20%;
}
footer {
  width: 100%;
}

.container {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 360) and (max-width: 900) {
  .container {
    margin: 0 0 0 0;
  }
  header {
    height: 10vh;
  }
  .header_text {
    font-family: "Dongle", sans-serif;
    font-size: 10px;
  }
  .buttonText {
    padding-left: 5%;
    font-size: 5px;
  }
  .footer {
    display: grid;
    grid-template-columns: 10% 10% 10% 1fr;
    padding-top: 2%;
    padding-bottom: 2%;
    align-content: center;
    padding-left: 1%;
    background-color: #d9d7f1;
  }
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 80vh;
}

.mainContent {
  overflow: auto;
  display: inline;
  background-color: rgb(245, 245, 245);
}

/* TODO: 화면 비율 따라 너비 조정 */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0ece3;
}

.button {
  margin-bottom: 5%;
  text-decoration: none;
}

.buttonText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 8%;
  height: 100%;
  background-color: #c8e2d6;
  border-radius: 5px;
  color: rgb(44, 60, 80);
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 20px;
}

.buttonText:hover {
  background-color: #87aaaa;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.buttonText:visited {
  box-shadow: 10px #6d8299;
}

.buttonTop {
  margin-top: 40%;
}

.tabList {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 30%;
}

.tab {
  display: none;
  padding: 5% 8% 3% 8%;
  height: min-content;
}

.default {
  display: block;
}

.btn_list {
  margin-bottom: 15%;
  height: 10%;
}

.footer {
  display: grid;
  grid-template-columns: 3% 3% 3% 1fr;
  padding-top: 2%;
  padding-bottom: 2%;
  align-content: center;
  padding-left: 5%;
  background-color: #d9d7f1;
}

.icon {
  color: #6d8299;
}

.icon:hover {
  color: #11324d;
}

.mail {
  display: flex;
  justify-content: right;
  padding-right: 5%;
}

.contact {
  padding-right: 0.7%;
}
